@import "styles/variables";

$header-bg-color: #f8f8f8;
$header-text-color: #333;
$header-icon-color: #555;

.header {
  display: flex;
  height: 90px;
  justify-content: space-between;
  padding: 0 0.5em 0 0.5em;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 2px 0px #f3f3f3;

  .logo {
    overflow: visible;
  }

  .icons {
    width: 132px;
    display: flex;
    justify-content: flex-end;
    gap: $spacing-xl;
  }

  .header-nav {
    display: flex;
    gap: $spacing-xl;
  }

  .header-link {
    text-decoration: none;
    color: $header-text-color;
  }

  .header-right {
    display: flex;
    gap: 1rem;
    margin-right: 60px;
  }

  .header-icon {
    text-decoration: none;
    color: $header-icon-color;
  }
}
